# ─────────────────────────────────────────────
# 🔒 DATA FILES (large CSVs excluded from Git)
# ─────────────────────────────────────────────

# Seoul public bike rental history (Not uploaded to Github due to its large size)
data/raw/seoul_bike_rentals_2306.csv
data/raw/seoul_bike_rentals_2307.csv
data/raw/seoul_bike_rentals_2308.csv

# Merged 3 seoul_bike_rentals file
data/processed/merged_bike_data.csv

# macOS system file
.DS_Store